{{ define "main" }}
<article>
  <header>
    {{ $catPage := "" }}{{ with .GetTerms "categories" }}{{ $catPage = index . 0 }}{{ end }}
    <nav class="breadcrumb" aria-label="breadcrumb">
      <a href="{{ site.BaseURL }}">홈</a>
      {{ with $catPage }} <span class="crumb-sep">›</span> <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}
    </nav>
    <h1>{{ .Title }}</h1>
    <time>{{ .Date.Format "2006-01-02" }}</time>
    {{ if $catPage }}
    <script type="application/ld+json">
    {{ dict
        "@context" "https://schema.org"
        "@type" "BreadcrumbList"
        "itemListElement" (slice
          (dict "@type" "ListItem" "position" 1 "name" "홈" "item" site.BaseURL)
          (dict "@type" "ListItem" "position" 2 "name" $catPage.Title "item" $catPage.Permalink)
          (dict "@type" "ListItem" "position" 3 "name" .Title))
      | jsonify | safeJS }}
    </script>
    {{ end }}
    <script type="application/ld+json">
    {{ dict
        "@context" "https://schema.org"
        "@type" "BlogPosting"
        "headline" .Title
        "description" (.Description | default "")
        "datePublished" (.Date.Format "2006-01-02")
        "dateModified" (.Lastmod.Format "2006-01-02")
        "inLanguage" (site.Language.Lang)
        "mainEntityOfPage" .Permalink
        "keywords" (delimit (.Params.keywords | default slice) ", ")

        "author" (dict "@type" "Person" "name" (site.Params.author | default site.Title))
        "publisher" (dict "@type" "Organization" "name" site.Title "url" site.BaseURL)
      | jsonify | safeJS }}
    </script>
  </header>
  <div class="content">
    {{ .Content }}
  </div>
</article>
{{ end }}
