{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ with .Content }}<div class="term-intro">{{ . }}</div>{{ end }}
<p class="term-back"><a href="{{ .Parent.Permalink }}">{{ site.Params.label_all_categories | default "← 모든 카테고리" }}</a></p>
<ul class="post-list">
  {{ range .Pages }}
  <li class="post-item">
    <a class="post-link" href="{{ .Permalink }}">
      <span class="post-title">{{ .Title }}</span>
      <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format (site.Params.date_format | default "2006년 1월 2일") }}</time>
    </a>
    {{ with .Description }}<p class="post-desc">{{ . }}</p>{{ end }}
  </li>
  {{ else }}
  <li>{{ site.Params.label_no_posts | default "이 카테고리에 글이 없습니다." }}</li>
  {{ end }}
</ul>
{{ end }}
